.btn {
    height: 50px;
    width: 200px;

}

.rock {
align-self: flex-start;
}

.paper {
align-self: center;
}

.scissors {
align-self: flex-end;

}

.display {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100px;

    justify-content: space-evenly;
}

p {

}